
/*           Position and order of appearance 

    - The more lower down it is, the more importance it has.
    - Position applies in the order of your CSS rule, order of our link tag, order of our <style> Elements.
    - If <style> elements are declared before a <link>, the linked stylesheet's CSS will have the most specificity(importance).
    - All of these things are ignored in case of (!important) keyword.


    Note: This approach of declaring the same property twice works because browsers ignore values they don't understand. Unlike some other programming languages, CSS will not throw an error or break your program when it detects a line it cannot parse—the value it cannot parse is invalid and therefore ignored. The browser then continues to process the rest of the CSS without breaking stuff it already understands.
*/


body {
      background-color: aquamarine;
}

body {
      background-color: #432123;
      color: #fff;
}